# Arquivos grandes/binarios nao devem ir para o git
*.msi
*.exe
.terraform/
*.tfstate
*.tfstate.*
terraform-provider-*
*.tfvars
crash.log
crash.*.log

# Prints podem ficar (sao pequenos)
!iac/prints/*.png
!iac/prints/*.html
!iac/prints/*.txt